<div class="container">

  <div class="upper-data">
    <!add images to the upper body but only display>
    <!//the images if a specific condition is there>
    <img src="../assets/rain.jpg" *ngIf="14>15">
    <img src="../assets/sunset.jpeg" *ngIf="14<=15">
    <! weather-data component will be defined here from the content side >
    <! and the respective stly will be defined in the style css file>
    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{14.40 | number:'1.0-0'}}°C</div>
      
    </div>
  </div>

  <div class="lower-data">

  </div>
</div>

<router-outlet></router-outlet>